.menu-calendar {
    display: flex;
}

.menu-calendar__sidebar {
    flex-grow: 1;
    margin-right: 1.5em;
    padding-top: 5em;
    padding-left: 1em;
}

.menu-calendar__calendar {
    flex-grow: 4;
}