.input {
    width: 100%;
    min-height: 25px;
    padding: 5px 10px;

    border: 1px solid #ddd;
    border-radius: 4px;
    
    background-color: #fff;
    
    line-height: 1.6;

    outline: 0
}

.input:focus {
    border-color: #6db3fd;
    box-shadow: 3px 3px 0 #6db3fd, -3px -3px 0 #6db3fd, -3px 3px 0 #6db3fd, 3px -3px 0 #6db3fd;
}