.table-container {}

.table-container__p--center {
    text-align: center;
}

.table-container__button {
    border: 0;
    background-color: transparent;
    font-size: 14px;
    font-style: italic;
    color: #adb5bd;
    cursor: pointer;
}

.table {
    width: 100%;
}

.table__th {
    padding-bottom: 6px;

    border-bottom: 1px solid #e9ecef;
    border-collapse: separate;
    border-spacing: 5px 5px;

    font-size: 15px;
}

.table__tbody .table__tr:hover {
    background-color: rgba(233,236,239,.2);
    cursor: pointer;
}

.table__td {
    padding-top: 6px;
    padding-bottom: 4px;

    font-size: 15px;
    font-weight: 200;
}

.table__td--sum,
.table__td--weight,
.table__td--proteins,
.table__td--fats,
.table__td--carb,
.table__td--kcal {
    padding-right: 5px;
    text-align: right;
}

.table__th--weight,
.table__th--proteins,
.table__th--fats,
.table__th--carb,
.table__th--kcal {
    padding-left: 12px;
}

.table__th--weight,
.table__td--weight {
    width: 115px;
}

.table__th--proteins,
.table__th--fats,
.table__td--proteins,
.table__td--fats {
    width: 65px;
}

.table__th--carb,
.table__td--carb {
    width: 105px;
}

.table__th--kcal,
.table__td--kcal {
    width: 68px;
}